
.ParrafoImpar{
color: darkblue;
}

.ParrafoPar{
font-style: italic;
font-weight: bold;

}
.ParrafoImpar{
    color: darkblue;
}
.ParrafoPar{
    font-style: italic;
    font-weight: bold;
}
.ParrafoImpar{
    color: darkblue;
}
.ParrafoPar{
    font-style: italic;
    font-weight: bold;
}
.ParrafoImpar{
    color: darkblue;
}
.ParrafoPar{
    font-style: italic;
    font-weight: bold;
}

